body {
  background-color: #372775;
  padding: 0px 24px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Averia Libre;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}

.header {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mainContent {
  width: 50%;
  border-radius: 15px;
  border: 1px solid #737373;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-bottom: 1.5rem;
  margin-top: 2rem;
}
.mainTitle {
  color: #fff;
  font-family: Averia Libre;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}
.label {
  color: #fff;
  font-family: Averia Libre;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-start;
  font-size: 1.2em;
  margin-top: 0.2rem;
}

.input {
  outline: 0;
  box-shadow: 0 0 0 0;
  border: 0 none;
  width: 100%;
  height: 2.3rem;
  flex-shrink: 0;
  background: #fff;
  font-family: Averia Libre;
  font-size: 18px;
  margin-bottom: 7px;
  padding-left: 11px;
  color: #3f92c5;
}
.input::placeholder {
  color: #3f92c5;
  font-family: Averia Libre;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.verification{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.spanEmailSenhaInvalidos {
  color: #fd7979;
  font-size: 14px;
  font-family: Averia Libre;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
  visibility: hidden;
}
.spanEsqueciMinhaSenha {
  color: #3f92c5;
  font-size: 14px;
  text-align: right;
  font-family: Averia Libre;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
.create{
  margin-top: 2rem;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.criar_conta a{
  color: #3f92c5;
}
.btn_entrar {
    width: 134px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #37bd6d;
    background: #49b976;
    color: #fff;
    text-align: center;
    font-family: Averia Libre;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 1.4em;
    cursor: pointer;
}
.btn_entrar a{
  color: white;
  text-decoration: none;
}
a{
  color: #3f92c5;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media (max-width: 688px) {
  .mainContent{
    width: 70%;
  }

  .spanEmailSenhaInvalidos {
    font-size: 12px;
  }
  .spanEsqueciMinhaSenha {
    font-size: 12px;
  }
  .btn_entrar {
    width: 134px;
    height: 30px;
    font-size: 16px;
  }
}


@media (max-width: 450px) {
  .title h1{
    font-size: 2rem;
  }
  .mainContent{
    width: 90%;
  }
  .spanEmailSenhaInvalidos {
    font-size: 10px;
  }
  .spanEsqueciMinhaSenha {
    font-size: 10px;
  }
}