@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #372775;
    overflow-x: hidden; 
}

header{
    width: 100vw;
    padding-left: 3rem;
    padding-right: 5rem;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegation_header{
    text-decoration: none;
  }

header a{
    color: #3F92C5;
    font-family: Averia Libre;
    font-size: 2rem;
    text-decoration: underline;
}

.navegationPage{
    display: flex;
    align-items: center;
}

.titleNavegation{
    font-family: 'Averia Libre';
    font-size: 4rem;
    color: #fff;
    margin-left: 1rem;
    font-weight: 400;
}

section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    padding-left: 2rem;
    padding-right: 2rem;
    /* flex-wrap: wrap; */
}


section a{
    border-radius: 1rem;
    background: #312464;
    width: 271px;
    height: 238px;
    text-decoration: none;
    margin-bottom: 3rem;

    display: flex;
    justify-content: center;

}

section article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section article h3{
    font-family: 'Averia Libre';
    font-size: 3rem;
    color: #fff;
    padding-top: 2rem;
}

@media (max-width: 920px) {
    .titleNavegation{
        font-size: 3rem;
    }

    header{
        padding-left: 2rem;
        padding-right: 3.5rem;
    }

    header a{
        font-size: 1.8rem;
    }

    section{
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    header{
        padding-left: 2.5rem;
        padding-right: 4rem;
    }

    .titleNavegation{
        font-size: 2rem;
    }

    header a{
        font-size: 1.6rem;
    }
}
