@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-color: #372775;
    overflow-x: hidden; 
    width: 100vw;
    height: 100vh;
}

header{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 1rem;
}

header a{
    color: #3F92C5;
    font-family: Averia Libre;
    font-size: 2rem;
    text-decoration: underline;
}

main{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    color: #FFF;
    font-family: Averia Libre;
    font-size: 4.8rem;
    margin-bottom: 8rem;
    text-align: center;
}

section{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
}


article{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 2rem;
}

h3{
    color: #FFF;
    font-family: Averia Libre;
    font-size: 3.6rem;
}

/* modal agradecimento */
.modalAgradecimento{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #372775;

    display: none;
    justify-content: center;
    flex-direction: column;

}

.modalAgradecimento.mostrar {
    display: flex;
}

.modalAgradecimento header{
    height: 25%;
}

.modalAgradecimento main{
    height: 45%;
}

.modalAgradecimento h2{
    font-family: Averia Libre;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    line-height: 9rem;

}

.modalAgradecimento footer{
    height: 30%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 5rem;
}

.modalAgradecimento footer h4{
    font-family: Averia Libre;
    font-size: 1.8rem;
    font-weight: 400;
    color: #888888;
    text-align: right;
    line-height: 3rem;
}

.modalAgradecimento footer a{   
    text-decoration: underline;
    color: #6994FE;
}

@media (max-width: 856px) {
    section{
        flex-direction: column;
    }

    h1 {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
        font-size: 4rem;
    }

    main{
        margin-top: 5rem;
    }

    h3{
        font-size: 3.3rem;
    }
}

@media (max-width: 460px) {
    h1 {
        margin-bottom: 3rem;
    }

    main{
        margin-top: 3rem;
    }

    h3{
        font-size: 3rem;
    }
}